<%- include("../partials/printheader")%> <%- include('../partials/flash') %>

<h1>All Courses</h1>

<% for (let sem of semSansSpace) { %>

<h2><%= sem %></h2>

<% for (let uniqueModule of uniqueModules) { %> <% if (uniqueModule.slice(0,3)
== sem.slice(0,3)) { %>

<h3 class="">
    <u><%= uniqueModule %></u>
</h3>

<div class="" id="<%= uniqueModule.replace(/\s+/g, '') %>">
    <% for (let course of courses) { %> <% if (uniqueModule == course.module) {
    %>

    <div class="kovo-item">
        <div class="kovo-item-body">
            <% if (course.oldModule) { %>
            <p>
                <strong>Old module equivalent:</strong> <%= course.oldModule %>
            </p>
            <% } %>
            <p><%= course.instructor %></p>
            <div class="row">
                <div class="col-sm-6">
                    <h4>
                        <%= course.courseType.slice(0,1) %>:
                        <%=course.courseTitle%>
                    </h4>
                </div>
                <div class="col-sm-6">
                    <strong>(<%= course.courseNumber %>)</strong><br /><%=
                    course.forWhom %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <strong
                        ><%= course.weekday %>, <%= course.time %>, <%=
                        course.room %></strong
                    >
                    <% if (course.weekdayB) { %> (Group A) <% } %>
                </div>
                <div class="col-sm-6">
                    <% if (course.firstMeet !== null) { %>

                    <strong
                        >First meeting: <%= `${new Intl.DateTimeFormat('en', {
                        day: '2-digit' }).format(new
                        Date(course.firstMeet))}.${new Intl.DateTimeFormat('en',
                        { month: '2-digit' }).format(new
                        Date(course.firstMeet))}.${new Intl.DateTimeFormat('en',
                        { year: 'numeric' }).format(new
                        Date(course.firstMeet))}` %></strong
                    >
                    <% if (course.weekdayB) { %> (Group A) <% } %> <% } %>
                </div>
            </div>

            <% if (course.weekdayB) { %>
            <div class="row">
                <div class="col-sm-6">
                    <strong
                        ><%= course.weekdayB %>, <%= course.timeB %>, <%=
                        course.roomB %></strong
                    >
                    (Group B)
                </div>
                <div class="col-sm-6">
                    <% if (course.firstMeetB !== null) { %>
                    <strong
                        >First meeting: <%= `${new Intl.DateTimeFormat('en', {
                        day: '2-digit' }).format(new
                        Date(course.firstMeetB))}.${new
                        Intl.DateTimeFormat('en', { month: '2-digit'
                        }).format(new Date(course.firstMeetB))}.${new
                        Intl.DateTimeFormat('en', { year: 'numeric'
                        }).format(new Date(course.firstMeetB))}` %></strong
                    >
                    (Group B) <% } %>
                </div>
            </div>
            <% } %>

            <div class="row">
                <div class="col-sm-6">
                    <strong>Contact:</strong> <%= course.email %>
                </div>
                <div class="col-sm-6">
                    <% if (course.opal) { %>
                    <strong>Resource:</strong>
                    <a href="<%= course.opal %>" target="_blank">OPAL</a>
                    <% } %>
                </div>
            </div>
            <% if (course.registrationInfo) { %>
            <div class="row">
                <div class="col">
                    <strong>Registration info:</strong> <%=
                    course.registrationInfo %>
                </div>
            </div>
            <% } %> <% if (course.info) { %>
            <div class="alert alert-warning" role="alert">
                Please note: <%= course.info %>
            </div>
            <% } %>
            <hr />
            <h5>Content</h5>
            <p><%= course.description %></p>
            <% if (course.objectives) { %>
            <h5>Objectives</h5>
            <p>By the end of the course, students:</p>
            <div>
                <ul>
                    <% for (let goal of course.objectivesList) { %>
                    <li><%= goal %></li>
                    <% } %>
                </ul>
            </div>
            <% } %> <% if (course.prerecs) { %>
            <h5>Prerequisites</h5>
            <p><%= course.prerecs %></p>
            <% } %> <% if (course.requirements) { %>
            <h5>Requirements</h5>
            <p><%= course.requirements %></p>
            <% } %> <% if (course.lit) { %>
            <h5>Literature/materials</h5>
            <% for (let text of course.litList) { %>
            <p><%= text %></p>
            <% } %> <% } %>
        </div>
    </div>
    <div class="pagebreak"></div>
    <% } %> <% } %>
</div>
<div class="pagebreak"></div>
<% } %> <% } %> <% } %> <%- include("../partials/footer")%>
